@media screen and (max-width:570px){
    main{
        #pesquisa{
            flex-direction: column;
            height: auto;

            #container{  
                display: flex;
                justify-content: center;
                align-items: center;
                
            }

            #informa{
                height: auto;
            }
        }

        #mapid{
            height: 100%;
        }

        #gps{
            display: initial;
            color: white;
            font-size: 20px;
        }

       
    }
}